<main>
<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid laborum officia qui repellendus rerum soluta voluptatum. Facere,
        laudantium, natus? Blanditiis et exercitationem nisi totam! Corporis cumque distinctio eius mollitia porro! Aliquid animi assumenda,
        aut blanditiis debitis dicta, facere, id ipsam laborum modi neque pariatur provident quia voluptate voluptates. Ab amet animi aperiam
        atque beatae consequuntur debitis, dignissimos dolorem ducimus eum facere magni nemo nobis quidem repellendus reprehenderit saepe. Illum iste
        natus nesciunt optio tempore. Alias, iure labore nobis perspiciatis quisquam sapiente voluptate voluptatem. Animi, ea eveniet ex id labore
        maxime quos vel voluptates. Doloribus perspiciatis, quae sed sit tempora voluptatum.
    </p>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
    <a class="btn btn-floating pulse"><i class="material-icons">menu</i></a>
    <a class="btn btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
    <a class="btn btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>

    <a class="waves-effect waves-light btn">button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>
</div>
    <div class="container">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                        <label for="disabled">Disabled</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        This is an inline input field:
                        <div class="input-field inline">
                            <input id="email" type="email" class="validate">
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
